{% extends 'base.html.twig' %}

{% block title %}Login to Copain{% endblock %}

{% block body %}
  <h1>Login to Copain</h1>

  <p>Hello 👋,</p>

  <p>Click the button below to securely log in to your account:</p>

  <p style="text-align: center;">
    <a href="{{ login_link_url }}" class="btn">Login Now</a>
  </p>

  <p>This link expires in <strong>{{ expires_in_minutes }} minutes</strong>.</p>

  <p>If you didn’t request this login, you can safely ignore this email.</p>
{% endblock %}
